.App {
  background-color: rgb(240, 242, 245);
  min-height: 100vh;
}

.Sider {
  height: 97%;
  position: fixed;
  width: 250px;
  margin: 15px;
  border-radius: 11px;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
}

.Sider-header {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}